<div id="dad">
  <div id="son">
    <div class="overblack"></div>
    <div id="home_conten">
    <div id="text_home">
      <h1>BookStore</h1>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Enim sint ea hic inventore labore eveniet nostrum ut, necessitatibus voluptatibus vero odio fugit,
         non quidem asperiores aliquam. Consectetur incidunt eligendi, magnam.</h5>
    </div>
    </div>
  </div>
</div>
